* {
	box-sizing: border-box;
}

body {
	background: #f5f5f5;
}

.page-wrapper {
	width: 374px;
	border-radius: 10px;
	margin: 24px auto 0;
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
	background: #f2f2f2;
}

.header {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}