* {
	box-sizing: border-box;
}

body {
	background: #f5f5f5;
	padding: 24px;
}

.page-wrapper {
	width: 374px;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
	background: #f2f2f2;
}

.header {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
	border-radius: 0 0 48px 88px;
	min-height: 246px;
	padding: 37px 18px 104px;
}